:root {
  --search-padding-yA: 6.25rem;
  --search-padding-xA: 1.875rem;
  --nav-bg-color: #dde2e9;
  --base-margin-yA: 0;
  --base-margin-xA: auto;
  --sgilightblue: #707e93;
  --midnightblue: #314974;
  --base-margin-xyA: 0;
  --search-form-mxw: 850px;
  --search-result-mxw: 810px;
  --border-radius: 5px;
  --border-bx-shadow: 0px 10px 25px 0px;
  --sbx-color: #00000010;
  --background-overlap: -50px;
  --grid-min: 1fr;
  --grid-max: 90px;
  --masonry: repeat(auto-fit, minmax(var(--grid-min), var(--grid-max)));
  --grid-max-width: 750px;
  --use-grid: grid;
  --gap: 2rem;
  --gtr: 270px;
  --gtt: 280px;
  --gtr-sm: 450px;
  --use-flex: flex;
  --column-pos: center;
  --row-pos: center;
  --container-pb: 6.25rem;
  --search-field-padding: 1rem;
  --search-field-padding-left: 3.125rem;
  --min-height: 100vh;
  --search-icon-pos: 10px;
  --reflow: dense;
  --pl: 50px;
  --pr: 50px;
  --buck-med-font: Buckin-Medium;
  --buck-regular-font: Buckin-Regular;
  --modal-h3-color: #314974;
  --modal-p-color: #707e93;
  --photo-p1-color: #ebebeb;
  --photo-p2-color: #d6d3d3;
  --skeleton-bg-color: #eeeeee;
  --skeleton-o-color: #e6e6e6;
  --skeleton-alt-color: #e5e5e5;
  --masonry-md: repeat(auto-fit, minmax(var(--grid-min-md), var(--grid-max-md)));
  --grid-min-md: 220px;
  --grid-max-md: 1fr;
  --gtr-md: 350px;
}
